<form action='/articles' method='POST'>
    <ul>
        <li>
            <label for="title">Title</label>
            <input id="title" type="text" name="title">
        </li>
        <li>
            <label for="content">Content</label>
            <input id="content" type="text" name="content">
        </li>
    </ul>
    <input type="submit">
</form>
